:host {
    position: relative;
    // 77 * 77 = Bg img size
    width: 77px;
    height: 77px;
    display: block;
}

.Type,
.Set,
.RarityOverlay
 {
    position: absolute;
    left: 50%;
    top: 50%;
}

.Type {
    margin-left: -32px;
    margin-top: -32px;
}

.Set, .RarityOverlay {
    width: 32px;
    height: 32px;
    &--slot1 {
        margin-left: -16px;
        margin-top: -10px;
    }
    &--slot2,
    &--slot3 {
        margin-left: -19px;
        margin-top: -16px;
    }
    &--slot4 {
        margin-left: -16px;
        margin-top: -19px;
    }
    &--slot5,
    &--slot6 {
        margin-left: -14px;
        margin-top: -16px;
    }
}

.Stars {
    position: absolute;
    top: 1px;
    left: 3px;
}

.Stars img {
    width: 12px;
    margin-left: -3px;
    &:first-child {
        margin-left: 0;
    }
}

.Level {
    position: absolute;
    bottom: 3px;
    right: 6px;
    color: white;
    font-size: 0.9em;
}