<img [src]="BgImgSrc" alt="">
<img class="Type" [src]="TypeImgSrc" alt="">
<img [class]="'Set Set--slot' + rune.Slot" [src]="SetImgSrc" alt="">
<div class="Stars">
    <div *ngIf="rune.Level < 15">
        <img class="Star" src="assets/images/runes/star-unawakened.png" alt="Star" *ngFor="let i of getStarsCount(rune.Grade)" width="20">
    </div>
    <ng-container *ngIf="rune.Level == 15">
        <img class="Star" src="assets/images/runes/star-awakened.png" alt="Star" *ngFor="let i of getStarsCount(rune.Grade)" width="20">
    </ng-container>
</div>
<span class="Level">+{{rune.Level}}</span>