﻿/**
	Global rule
*/
@import '../global';

/**
	Theme vars
*/
@import './variables';

/**
	Angular Material theme
*/
@import "@angular/material/prebuilt-themes/indigo-pink.css";

/**
	Page layout
*/
$pageHeaderHeight: 50px;

.Page-Header {
	height: $pageHeaderHeight;
	width: 100%;

	background-color: var(--bgColor-lighter);

	h1 {
		height: $pageHeaderHeight;
		line-height: $pageHeaderHeight;
		margin-left: 20px;

		color: var(--textColor);
	}
}

.Page-Footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	height: $pageHeaderHeight;
}