﻿/**
 *
	Theme vars
 *
 */

:root {
	/**
		Fonts
	*/
	$fontFamily:  "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
	$fontSize: 1em;
	$borderRadius: 3px;
	$disabledOpacity: 0.35;

	/**
		Content
	*/
	--contentBgColor: #ffffff;
	--contentTextColor: #222222;

	--contentHoverBgColor: #E0E0E0;

	--contentBorderWidth: 1px;
	--contentBorderRadius: 15px;
	--contentBorderColor: #D5D5D5;

	/**
	 *	Colors
	 */
	--bgColorHex: #424242;
	--bgColorBase: 0, 0%; // #424242
	--bgColorLightness: 26%;
	--bgColor: hsl(var(--bgColorBase), var(--bgColorLightness));
	--bgColor-darker: hsl(var(--bgColorBase), calc(var(--bgColorLightness) - 10%));
	--bgColor-lighter: hsl(var(--bgColorBase), calc(var(--bgColorLightness) + 10%));

	--textColorHex: #ecf0f1; 
	--textColorBase: 192, 15%;// #ecf0f1;
	--textColorLightness: 94%;
	--textColor: hsl(var(--textColorBase), var(--textColorLightness));

	--hoverColorHex: #b583c9;
	--hoverColorBase: 283, 39%; // #b583c9;
	--hoverColorLightness: 65%;
	--hoverColor: hsl(var(--hoverColorBase), var(--hoverColorLightness));



}

