<form>
    <div class="field has-addons">
        <div class="control">
            <button class="button is-small is-static is-label">
            {{ "runes-list.sorting.main" | translate }}
            </button>
        </div>
        <div class="control">
            <div class="select is-small">
            <select
                [(ngModel)]="sorting.mode"
                (change)="onSortingChange()"
                name="sorting.mode"
            >
                <option
                *ngFor="let option of AvailableModes"
                [value]="option"
                >{{ "runes-list.sorting." + option | translate }}</option
                >
            </select>
            </div>
        </div>
        <div class="control is-expanded">
            <div class="select is-small">
            <select
                [(ngModel)]="sorting.direction"
                (change)="onSortingChange()"
                name="runes-list.sorting.direction"
            >
                <option
                *ngFor="let option of AvailableDirection"
                [value]="option"
                >{{ "runes-list.sorting.directions." + option | translate }}</option
                >
            </select>
            </div>
        </div>
    </div>
</form>
