<img class="Icon" [src]="ImgSrc" alt="">
<div class="Stars">
	<ng-container *ngIf="!monster.IsAwakened">
		<img class="Star" src="assets/images/runes/star-unawakened.png" alt="Star" *ngFor="let i of getStarsCount(monster.Grade)" width="20">
	</ng-container>
	<ng-container *ngIf="monster.IsAwakened">
		<img class="Star" src="assets/images/runes/star-awakened.png" alt="Star" *ngFor="let i of getStarsCount(monster.Grade)" width="20">
	</ng-container>
</div>
<span class="Level">{{ monster.Level }}</span>