:host {
    position: relative;
    // 77 * 77 = Bg img size
    width: 70px;
    height: 70px;
	display: block;
}

.Icon {
	position: absolute;
	width: 100%;
	border-radius: var(--contentBorderRadius);
}

.Stars {
    position: absolute;
    top: 1px;
    left: 3px;
}

.Stars img {
    width: 12px;
    margin-left: -3px;
    &:first-child {
        margin-left: 0;
    }
}

.Level {
    position: absolute;
    bottom: 3px;
    right: 4px;
    color: white;
	font-size: 0.9em;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}