// Rules overrides

.menu {
    background-color: $menu-background;
    
    &.is-main {
        padding: 5px;
        padding-right: 0;

        .menu-label:first-child {
	        margin-top: 15px;
        }
    }
}

.menu-list a {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.button.is-static.is-label {
    background-color: $blue;
    color: $text;
    border-color: transparent;
    min-width: 120px;
}

/*
.button {
	background-color: $blue !important;
	border-color: transparent !important;
}
*/
