// App root rules

.page-header {
	background-color: $blue;
	height: 50px;
	padding: 10px;
}

.page-toolbar {
	padding: 5px;

	.button .icon {
		margin-left: 5px !important;
	}
}

.tool-panel {
	background-color: $grey-dark;
	width: calc(100% - 20px);
	height: 40px; // button height
	margin: 0 auto;
	margin-top: 5px;
	padding: 10px;

	&.active {
		height: auto;
	}

	.actions {
		margin-top: -10px;
		margin-left: -10px;
		margin-bottom: 10px;

		.button {
			border-radius: 0;
			background-color: $blue;

			&.active, &:hover {
				background-color: $grey-dark;
			}
		}
	}

	.button {		
		background-color: $grey-dark;

		&.active, &:hover {
			background-color: $grey-darker;
		}
	}
}

.content-panel {
	background-color: $grey-dark;
	width: calc(100% - 20px);
	margin: 0 auto;
	margin-top: 5px;
	padding: 10px;
}

.page-content {
	height: calc(100% - (100px));
	max-height: calc(100% - (100px));
	overflow: auto;

	padding: 10px;

	&::-webkit-scrollbar {
		width: 10px;
		background-color: $black-ter;
	}

	&::-webkit-scrollbar-thumb {
		width: 6px;
		background-color: $blue;
	}
}

.page-footer {
	background-color: $blue;
	height: 50px;
	padding: 5px 20px;
}

.paginator-select {
	background-color: $blue;
	color: $text;

	&::-webkit-scrollbar {
		width: 10px;
		background-color: $text;
	}

	&::-webkit-scrollbar-thumb {
		width: 6px;
		background-color: $blue;
	}
}