﻿// Variables

$scheme-main: $grey-darker;
$background: $grey-darker;

$text: $white-ter;
$text-strong: $white-bis;

$body-family: 'Roboto';
$body-overflow-y: auto;

$menu-background: $black-ter;
//$menu-item-radius: 0;
$menu-item-active-background-color: $background;

$input-color: $text-strong;
$input-border-color: transparent;
$input-hover-color: $input-color;
$input-hover-border-color: transparent;

$button-color: $text;
$button-focus-color: $text;
$button-focus-box-shadow-size: 0;
$button-focus-border-color: transparent;
$button-border-color: transparent;
$button-hover-color: $button-color;
$button-hover-border-color: transparent;
