<header class="page-header">
	<h3>{{'monsters-list.title' | translate}}</h3>
</header>

<section class="page-content">
	<!--
	<div class="toolbar level">
		<div class="level-left">
			 <button class="button" (click)="displayType = 'widgets'">Widgets</button> 
			<button class="button" (click)="displayType = 'table'">Liste</button>
		</div>
		<div class="level-right"></div>
	</div>
	<section class="Monsters-Widgets" *ngIf="displayType == 'widgets'">
		<swat-monster-widget *ngFor="let monster of displayedMonsters" [monster]="monster" [routerLink]="['/monster-view', monster.Id]"></swat-monster-widget>
	</section>
	-->
	<section class="Monsters-Table" *ngIf="displayType == 'table'">
		<table>
			<thead>
				<tr>
					<th></th>
					<th>Nom</th>
					<th>Level</th>
					<th>PV</th>
					<th>ATQ</th>
					<th>DEF</th>
					<th>VIT</th>
					<th>Tx Crit</th>
					<th>Dgts Crit</th>
					<th>RES</th>
					<th>Prec</th>
				</tr>				
			</thead>
			<tbody>
				<tr *ngFor="let monster of displayedMonsters">
					<td><swat-monster-icon class="Icon" [monster]="monster"></swat-monster-icon></td>
					<td>{{monster.Name}}</td>
					<td>{{monster.Level}}</td>
					<td>{{monster.BaseStats.hp}}</td>
					<td>{{monster.BaseStats.atk}}</td>
					<td>{{monster.BaseStats.def}}</td>
					<td>{{monster.BaseStats.spd}}</td>
					<td>{{monster.BaseStats.criticalRate}}</td>
					<td>{{monster.BaseStats.criticalDamage}}</td>
					<td>{{monster.BaseStats.resist}}</td>
					<td>{{monster.BaseStats.accuracy}}</td>
				</tr>
			</tbody>
		</table>
	</section>
</section>

<footer class="page-footer level">
	<div class="level-left"></div>
	<div class="level-right">
		<swat-paginator class="level-item"
						[length]="filteredMonsters.length"
						[pageSize]="paginator.pageSize"
						(pageChange)="onPageChange($event)">
		</swat-paginator>
	</div>	
</footer>