:host {
	position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.Monsters-Widgets {
	width: 100%;    
	margin-top: 20px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-auto-rows: 260px; // widget height
	grid-auto-flow: row;
	
	& > * {
        margin: 10px;
    }
}