<swat-monster-icon class="Icon" [monster]="monster"></swat-monster-icon>
<div class="Name">{{ monster.Name }}</div>
<table class="Stats">
	<tr>
		<td>PV:</td><td>{{ monster.BaseStats.hp }}</td>
	</tr>
	<tr>
		<td>ATQ:</td><td>{{ monster.BaseStats.atk }}</td>
	</tr>
	<tr>
		<td>DEF:</td><td>{{ monster.BaseStats.def }}</td>
	</tr>
	<tr>
		<td>VIT:</td><td>{{ monster.BaseStats.spd }}</td>
	</tr>
	<tr>
		<td>Tx Crit:</td><td>{{ monster.BaseStats.criticalRate }}</td>
	</tr>
	<tr>
		<td>Dgts Crit:</td><td>{{ monster.BaseStats.criticalDamage }}</td>
	</tr>
	<tr>
		<td>RES:</td><td>{{ monster.BaseStats.resist }}</td>
	</tr>
	<tr>
		<td>Précision:</td><td>{{ monster.BaseStats.accuracy }}</td>
	</tr>
</table>