﻿:host {
	box-sizing: border-box;
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: 45px 20px 150fr;
    grid-gap: 5px;
    grid-template-areas: "icon name"
                        "icon level"
                        "stats stats";

	min-height: 240px;
	min-width: 210px;
    padding: 5px;
	border: var(--contentBorderWidth) solid var(--contentBorderColor);
	border-radius: var(--contentBorderRadius);

    &:hover {
        background-color: var(--contentHoverBgColor);
        cursor: pointer;
    }
}

.Icon {
    grid-area: icon;
}

.Name {
    grid-area: name;
    margin-top: 10px;
    margin-left: 5px;

    font-size: 15px;
    line-height: 45px;
}

.Stats {
	grid-area: stats;
	margin-left: 5px;

	font-size: 12px;
}