.paginator {
    display: flex;
    position: relative;
}

.paginator-prev, .paginator-next {
    margin: 0 5px;
}

.paginator-page {
    cursor: pointer;
}

.paginator-select {
    position: fixed;
    bottom: calc(100% + 15px);
    left: 3000px;
    max-height: 200px;
    overflow: auto;

    ul {
        margin: 0;
        padding: 5px 10px;
    }

    &.active {
        position: absolute;
        left: 30px;
        right: 30px;
    }
}

.paginator-select-option {
    list-style: none;
    cursor: pointer;
}