<nav class="paginator">

	<a class="paginator-prev icon" (click)="onClickPage(activePage - 1)"><i class="fas fa-chevron-circle-left"></i></a>

	<div class="paginator-page" (click)="selectorActive = true">
		<span>Page: {{ activePage }} / {{ getPageCount() }}</span>
	</div>

	<div class="paginator-select" [ngClass]="{active: selectorActive}">
		<ul>
			<li class="paginator-select-option" *ngFor="let item of pages" (click)="onClickPage(item)">{{ item }}</li>
		</ul>
	</div>

	<a class="paginator-next icon" (click)="onClickPage(activePage + 1)"><i class="fas fa-chevron-circle-right"></i></a>

</nav>