<swat-rune-icon class="Icon" [rune]="rune"></swat-rune-icon>
<div class="Main">{{'runes.attributes.' + rune.Main.TypeName | translate}} +{{rune.Main.ValueString}}</div>
<div class="Innate" *ngIf="rune.Innate">{{'runes.attributes.' + rune.Innate.TypeName | translate}} +{{rune.Innate.ValueString}}</div>
<div class="Subs">
    <div class="Sub" [class.isGrinded]="sub.IsGrinded" *ngFor="let sub of rune.Subs">
        {{'runes.attributes.' + sub.TypeName | translate}} + {{sub.ValueString}}
        <span class="icon is-small" *ngIf="sub.IsEnchanted"><i class="fas fa-redo"></i></span>
    </div>
</div>
<div class="Owner" *ngIf="rune.Owner">
    <img [src]="rune.Owner.ImageUrl" alt="">
</div>
<div class="Rarity">
    <span *ngIf="rune.BaseRarity > 10">{{'runes.ancient' | translate}}</span>
    {{'runes.rarity.' + ((rune.BaseRarity > 10) ? rune.BaseRarity - 10: rune.BaseRarity) | translate}}
</div>
