:host {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: 45px 25px 80px 30px;
    grid-gap: 5px;
    grid-template-areas: "icon main"
                         "icon innate"
                         "subs subs"
                         "owner rarity";

    min-height: 210px;
    min-width: 210px;
    padding: 5px;
    border: var(--contentBorderWidth) solid var(--contentBorderColor);
    border-radius: var(--contentBorderRadius);

    &:hover {
        background-color: var(--contentHoverBgColor);
        cursor: pointer; 
    }
}

.Icon {
    grid-area: icon;
    transform: scale(0.9);
}

.Main {
    grid-area: main;
    margin-top: 10px;
    margin-left: 5px;

    font-size: 15px;
    line-height: 45px;
}

.Innate {
    grid-area: innate;
    margin-left: 5px;

    font-size: 12px;
}

.Subs {
	grid-area: subs;
	margin-left: 5px;

    font-size: 13px;
}

.Sub {
    margin-top: 2px;

    &.isGrinded {
        color: chocolate;
    }
}

.Owner {
    grid-area: owner;    

    img {
        width: 30px;
        border-radius: 10px;
    }
}

.Rarity {
    grid-area: rarity;
    margin-right: 15px;

    font-size: 13px;
    line-height: 25px;
    text-align: right;
}