﻿/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('styles/fonts/roboto-v15-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'), url('styles/fonts/roboto-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('styles/fonts/roboto-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('styles/fonts/roboto-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('styles/fonts/roboto-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('styles/fonts/roboto-v15-latin-regular.svg#Roboto') format('svg');
    /* Legacy iOS */
}