.Runes {
    width: 100%;
    margin-top: 20px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-auto-rows: 220px; // widget height
    grid-auto-flow: row;

    & > * {
        margin: 10px;
    }
}