<header class="page-header">
	<h1 class="title is-4">{{ 'settings.title' | translate }}</h1><br>
</header>

<section class="page-content">
    <div class="content-panel">
        <form>
            <div class="field has-addons">
                <div class="control">
                    <button class="button is-small is-static is-label">{{ 'settings.language' | translate }}</button>
                </div>
                <div class="control is-expanded">
                    <div class="select is-small">
                        <select [(ngModel)]="activeLang" (change)="changeLang($event.value)" name="set">
                            <option *ngFor="let lang of langs" [value]="lang.value">{{lang.label}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>    
</section>

<footer class="page-footer level">
</footer>