:host {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.Filters {
    display: flex;
    flex-direction: row;

    section {
        flex: 1;
    }

    h4 {
        margin: 5px 0;
    }

    ::ng-deep .mode {
        max-width: 80px;
        margin-right: 5px;
    }
}

.SubFilter {
    display: block;
    width: 180px;
}

.list-filters {
	
}

.runes {
    width: 100%;
	margin: 0;
	margin-top: 5px;
	flex-wrap: wrap;
}