<header class="page-header">
	<h1 class="title is-4">{{ 'runes-list.title' | translate }}</h1><br>
</header>


<!-- Page Content -->
<section class="page-content">

	<!-- Tool Panel -->
	<div class="tool-panel" [class.active]="panelState !== 'closed'">
		
		<div class="actions">
			<button class="button" [class.active]="panelState === 'filters'" (click)="onPanelAction('filters')">{{ "runes-list.filters.title" | translate }}</button>
			<button class="button" [class.active]="panelState === 'sorting'" (click)="onPanelAction('sorting')">{{ "runes-list.sorting.title" | translate }}</button>
			<button class="button" [class.active]="panelState === 'display'" (click)="onPanelAction('display')">{{ "runes-list.display.title" | translate }}</button>
		</div>		

		<swat-runes-filters *ngIf="panelState === 'filters'" (filtersChange)="onFiltersChange($event)"></swat-runes-filters>
		<swat-runes-sorting *ngIf="panelState === 'sorting'" (sortingChange)="onSortingChange($event)"></swat-runes-sorting>
		<div class="display" *ngIf="panelState === 'display'">
			<form>
				<div class="field has-addons">
					<div class="control">
						<button class="button is-small is-static is-label">
						{{ "runes-list.display.mode" | translate }}
						</button>
					</div>
					<div class="control">
						<button class="button is-small" [class.active]="displayMode === 'widgets'" (click)="displayMode = 'widgets' ">Widgets</button>
					</div>
					<div class="control">
						<button class="button is-small" [class.active]="displayMode === 'list'" (click)="displayMode = 'list'">Liste</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<!-- Runes Widgets -->
	<div class="runes columns" *ngIf="displayMode === 'widgets'">
		<swat-rune-widget class="runes-item "
						*ngFor="let rune of displayedRunes"
						[rune]="rune"></swat-rune-widget>
	</div>
	
	<!-- Runes List -->
	<table *ngIf="displayMode === 'list'">
		<thead>
			<tr>
				<th></th>
				<th>Set</th>
				<th>Rareté</th>
				<th>Main</th>
				<th>Innate</th>
				<th>Sub 1</th>
				<th>Sub 2</th>
				<th>Sub 3</th>
				<th>Sub 4</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let rune of displayedRunes">
				<td><swat-rune-icon class="Icon" [rune]="rune"></swat-rune-icon></td>
				<td>{{rune.SetTypeName}}</td>
				<td>
					<span *ngIf="rune.BaseRarity > 10">{{'runes.ancient' | translate}}</span>
    				{{'runes.rarity.' + ((rune.BaseRarity > 10) ? rune.BaseRarity - 10: rune.BaseRarity) | translate}}
				</td>
				<td>{{'runes.attributes.' + rune.Main.TypeName | translate}} +{{rune.Main.ValueString}}</td>
				<td>
					<div *ngIf="rune.Innate">{{'runes.attributes.' + rune.Innate.TypeName | translate}} +{{rune.Innate.ValueString}}</div>
				</td>
				<td *ngFor="let i of [0, 1, 2, 3]">
					<div *ngIf="rune.Subs[i]">
						{{'runes.attributes.' + rune.Subs[i].TypeName | translate}} +{{rune.Subs[i].ValueString}}
						<span class="icon is-small" *ngIf="rune.Subs[i].IsEnchanted"><i class="fas fa-redo"></i></span>
					</div>					
				</td>
			</tr>
		</tbody>
	</table>
</section>

<footer class="page-footer level">
	<div class="level-left"></div>
	<div class="level-right">
		<swat-paginator class="level-item"
						[length]="filteredRunes.length"
						[pageSize]="paginator.pageSize"
						(pageChange)="onPageChange($event)">
		</swat-paginator>
	</div>	
</footer>
