<aside class="menu is-main">
	<p class="menu-label">Menu</p>
	<ul class="menu-list">
		<li>
			<a [routerLink]="['/runes-list']" routerLinkActive="is-active" >{{'menu.runes-list' | translate}}</a>
		</li>
		<li>
			<a [routerLink]="['/stones-list']" routerLinkActive="is-active" >{{'menu.stones-list' | translate}}</a>
		</li>
		<li>
			<a [routerLink]="['/monsters-list']" routerLinkActive="is-active" >{{'menu.monsters-list' | translate}}</a>
		</li>
		<li>
			<a [routerLink]="['/settings']" routerLinkActive="is-active" >{{'menu.settings' | translate}}</a>
		</li>
	</ul>	
</aside>

<main class="content">
    <router-outlet></router-outlet>
</main>