:host {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
	align-items: stretch;
}

.content {
    flex: 1;
    position: relative;
    overflow: auto;
}