
<!-- Filters -->
<form class="list-filters">
	<div class="columns">
		<div class="column">

			<!-- Set -->
			<div class="field has-addons">
				<div class="control">
					<button class="button is-small is-static is-label">
					{{ "runes-list.filters.set" | translate }}
					</button>
				</div>
				<div class="control is-expanded">
					<div class="select is-small is-fullwidth">
					<select
						[(ngModel)]="filters.set.value"
						(change)="onFiltersChange()"
						name="set"
					>
						<option
						*ngFor="let option of filters.set.AvailableValues"
						[value]="option"
						>{{ "filters.set." + option | translate }}</option
						>
					</select>
					</div>
				</div>
			</div>

			<!-- Grade -->
			<div class="field has-addons">
				<div class="control">
					<button class="button is-small is-static is-label">
					{{ "runes-list.filters.grade" | translate }}
					</button>
				</div>
				<div class="control">
					<div class="select is-small">
					<select
						[(ngModel)]="filters.grade.mode"
						(change)="onFiltersChange()"
						name="gradeMode"
					>
						<option
						*ngFor="let option of filters.grade.AvailableModes"
						[value]="option"
						>{{ option }}</option
						>
					</select>
					</div>
				</div>
				<div class="control is-expanded">
					<div class="select is-small is-fullwidth">
					<select
						[(ngModel)]="filters.grade.value"
						(change)="onFiltersChange()"
						name="gradeValue"
					>
						<option
						*ngFor="let option of filters.grade.AvailableValues"
						[value]="option"
						>{{ "filters.grade." + option | translate }}</option
						>
					</select>
					</div>
				</div>
			</div>

			<!-- Slot -->
			<div class="field has-addons">
				<div class="control">
					<button class="button is-small is-static is-label">
					{{ "runes-list.filters.slot" | translate }}
					</button>
				</div>
				<div class="control is-expanded">
					<div class="select is-small is-fullwidth">
					<select
						[(ngModel)]="filters.slot.value"
						(change)="onFiltersChange()"
						name="slot"
					>
						<option
						*ngFor="let option of filters.slot.AvailableValues"
						[value]="option"
						>{{ "filters.slot." + option | translate }}</option
						>
					</select>
					</div>
				</div>
			</div>

			<!-- Level -->
			<div class="field has-addons">
				<div class="control">
					<button class="button is-small is-static is-label">
					{{ "runes-list.filters.level" | translate }}
					</button>
				</div>
				<div class="control">
					<div class="select is-small is-fullwidth">
					<select
						[(ngModel)]="filters.level.mode"
						(change)="onFiltersChange()"
						name="levelMode"
					>
						<option
						*ngFor="let option of filters.level.AvailableModes"
						[value]="option"
						>{{ option }}</option
						>
					</select>
					</div>
				</div>
				<div class="control is-expanded">
					<div class="select is-small is-fullwidth">
					<select
						[(ngModel)]="filters.level.value"
						(change)="onFiltersChange()"
						name="levelValue"
					>
						<option
						*ngFor="let option of filters.level.AvailableValues"
						[value]="option"
						>{{ "filters.level." + option | translate }}</option
						>
					</select>
					</div>
				</div>
			</div>

			<!-- Rarity -->
			<div class="field has-addons">
				<div class="control">
					<button class="button is-small is-static is-label">
					{{ "runes-list.filters.rarity" | translate }}
					</button>
				</div>
				<div class="control is-expanded">
					<div class="select is-small is-fullwidth">
					<select
						[(ngModel)]="filters.rarity.value"
						(change)="onFiltersChange()"
						name="rarity"
					>
						<option
						*ngFor="let option of filters.rarity.AvailableValues"
						[value]="option"
						>{{ "filters.rarity." + option | translate }}</option
						>
					</select>
					</div>
				</div>
			</div>
			
			<!-- Is Ancient -->
			<div class="field has-addons">
				<div class="control">
					<button class="button is-small is-static is-label">
					{{ "runes-list.filters.isAncient" | translate }}
					</button>
				</div>
				<div class="control is-expanded">
					<div class="select is-small is-fullwidth">
					<select
						[(ngModel)]="filters.isAncient.value"
						(change)="onFiltersChange()"
						name="rarity"
					>
						<option
						*ngFor="let option of filters.isAncient.AvailableValues"
						[value]="option"
						>{{ "filters.isAncient." + option | translate }}</option
						>
					</select>
					</div>
				</div>
			</div>
		</div>
		<div class="column">

			<!-- Main Attribute -->
			<div class="field has-addons">
				<div class="control">
					<button class="button is-small is-static is-label">
					{{ "runes-list.filters.main" | translate }}
					</button>
				</div>
				<div class="control">
					<div class="select is-small">
					<select
						[(ngModel)]="filters.main.attribute"
						(change)="onFiltersChange()"
						name="main.attribute"
					>
						<option
						*ngFor="let attribute of filters.main.AvailableAttributes"
						[value]="attribute"
						>{{ "filters.attributes." + attribute | translate }}</option
						>
					</select>
					</div>
				</div>
				<div class="control">
					<div class="select is-small">
					<select
						[(ngModel)]="filters.main.mode"
						(change)="onFiltersChange()"
						name="main.mode"
						[disabled]="filters.main.attribute === 'all'"
					>
						<option
						*ngFor="let mode of filters.main.AvailableModes"
						[value]="mode"
						>{{ "filters.modes." + mode | translate }}</option
						>
					</select>
					</div>
				</div>
				<div class="control is-expanded">
					<input
					class="input is-small is-fullwidth"
					type="text"
					[(ngModel)]="filters.main.value"
					(change)="onFiltersChange()"
					name="main.value"
					[disabled]="
						filters.main.attribute === 'all' || filters.main.mode === 'all'
					"
					/>
				</div>
			</div>

			<!-- Innate Attribute -->
			<div class="field has-addons">
				<div class="control">
					<button class="button is-small is-static is-label">
					{{ "runes-list.filters.innate" | translate }}
					</button>
				</div>
				<div class="control">
					<div class="select is-small">
					<select
						[(ngModel)]="filters.innate.attribute"
						(change)="onFiltersChange()"
						name="innate.attribute"
					>
						<option
						*ngFor="let attribute of filters.innate.AvailableAttributes"
						[value]="attribute"
						>{{ "filters.attributes." + attribute | translate }}</option
						>
					</select>
					</div>
				</div>
				<div class="control">
					<div class="select is-small">
					<select
						[(ngModel)]="filters.innate.mode"
						(change)="onFiltersChange()"
						name="innate.mode"
						[disabled]="filters.innate.attribute === 'none'"
					>
						<option
						*ngFor="let mode of filters.innate.AvailableModes"
						[value]="mode"
						>{{ "filters.modes." + mode | translate }}</option
						>
					</select>
					</div>
				</div>
				<div class="control is-expanded">
					<input
					class="input is-small is-fullwidth"
					type="text"
					[(ngModel)]="filters.innate.value"
					(change)="onFiltersChange()"
					name="innate.value"
					[disabled]="
						filters.innate.attribute === 'none' || filters.innate.mode === 'all'
					"
					/>
				</div>
			</div>

			<!-- SubStats Attributes -->
			<div class="field has-addons" *ngFor="let i of [1, 2, 3, 4]">
				<div class="control">
					<button class="button is-small is-static is-label">
					{{ "runes-list.filters.sub" | translate }} {{ i }}
					</button>
				</div>
				<div class="control">
					<div class="select is-small">
					<select
						[(ngModel)]="filters['sub' + i].attribute"
						(change)="onFiltersChange()"
						name="sub{{ i }}.attribute"
					>
						<option
						*ngFor="let attribute of filters['sub' + i].AvailableAttributes"
						[value]="attribute"
						>{{ "filters.attributes." + attribute | translate }}</option
						>
					</select>
					</div>
				</div>
				<div class="control">
					<div class="select is-small">
					<select
						[(ngModel)]="filters['sub' + i].mode"
						(change)="onFiltersChange()"
						name="sub{{ i }}.mode"
						[disabled]="filters['sub' + i].attribute === 'none'"
					>
						<option
						*ngFor="let mode of filters['sub' + i].AvailableModes"
						[value]="mode"
						>{{ "filters.modes." + mode | translate }}</option
						>
					</select>
					</div>
				</div>
				<div class="control is-expanded">
					<input
					class="input is-small is-fullwidth"
					type="text"
					[(ngModel)]="filters['sub' + i].value"
					(change)="onFiltersChange()"
					name="sub{{ i }}.value"
					[disabled]="
					filters['sub' + i].attribute === 'none' || filters['sub' + i].mode === 'all'
					"
					/>
				</div>
			</div>
		</div>

		<div class="column">

			<!-- Is Enchanted -->
			<div class="field has-addons">
				<div class="control">
					<button class="button is-small is-static is-label">
					{{ "runes-list.filters.isEnchanted" | translate }}
					</button>
				</div>
				<div class="control is-expanded">
					<div class="select is-small is-fullwidth">
					<select
						[(ngModel)]="filters.isEnchanted.value"
						(change)="onFiltersChange()"
						name="isEnchanted"
					>
						<option
						*ngFor="let option of filters.isEnchanted.AvailableValues"
						[value]="option"
						>{{ "filters.isEnchanted." + option | translate }}</option
						>
					</select>
					</div>
				</div>
			</div>

			<!-- Is Grinded -->
			<div class="field has-addons">
				<div class="control">
					<button class="button is-small is-static is-label">
					{{ "runes-list.filters.isGrinded" | translate }}
					</button>
				</div>
				<div class="control is-expanded">
					<div class="select is-small is-fullwidth">
					<select
						[(ngModel)]="filters.isGrinded.value"
						(change)="onFiltersChange()"
						name="isGrinded"
					>
						<option
						*ngFor="let option of filters.isGrinded.AvailableValues"
						[value]="option"
						>{{ "filters.isGrinded." + option | translate }}</option
						>
					</select>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>